/* General Reset */
body, h1, h2, h3, p, ul, li, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background: linear-gradient(135deg, #ff6f61, #d500f9); /* Gradient background */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

header h1 {
    font-size: 3em; /* Larger and more stylish heading */
    margin: 0; /* Remove default margin */
    font-weight: 700;
    color: #fff; /* Set text color to white */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow to improve readability */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffeb3b; /* Bright yellow for hover effect */
}

section {
    padding: 40px 0;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about, #projects, #contact {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about {
    background-color: #fef3bd; /* Light yellow */
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: left;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 20px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#projects {
    background-color: #d4edda; /* Light green */
    padding: 20px;
}

.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-10px);
}

.project a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project a:hover {
    color: #ff6347;
}

#contact {
    background-color: #ffcccb; /* Light red */
    padding: 20px;
    text-align: center;
}

.social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media ul li {
    margin: 0 15px;
}

.social-media ul li a {
    color: #1e90ff;
    font-size: 2em;
    transition: color 0.3s;
}

.social-media ul li a:hover {
    color: #ff6347;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
